@import "font.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto";
  font-weight: 400;
}

.container {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #eaeaea;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px 30px 15px;
    flex-wrap: wrap;
    gap: 10px;

    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      & h1 {
        font-family: "Roboto";
        color: #000;
        font-size: 20px;
        font-weight: 700;
      }
      & p {
        color: #9d9d9d;
        font-size: 14px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;

      &-basket {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 10px;
        & button {
          outline: none;
          cursor: pointer;
          border: none;
          background: transparent;
        }
        & img {
          width: 18px;
          height: 17.182px;
        }

        & span {
          display: block;
          color: #5c5c5c;
          font-size: 14px;
        }
      }
      &-info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        & img {
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
        & button {
          outline: none;
          border: none;

          width: 68px;
          height: 25px;
          border-radius: 110px;
          background: #a5d364;
          color: white;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
  }

  &__slider {
    padding: 88px 61px;
    border-radius: 20px;
    background: #f4efe9;
    max-width: 960px;
    width: 100%;
    height: 300px;
    margin-top: 45px;
    position: relative;

    @media screen and (max-width:900px) {
      display: none;
    }
    &-info {
      max-width: 240px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;

      & h2 {
        font-family: "Roboto";
        color: #8bb43c;
        font-size: 38px;
        font-weight: 700;

        & span {
          color: black;
        }
      }

      & button {
        background: #a5d364;
        outline: none;
        border: none;
        border-radius: 110px;
        max-width: 177.459px;
        width: 100%;
        height: 47.09px;
        cursor: pointer;
        color: #fff;

        text-align: center;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 700;
      }
    }
    & img {
      position: absolute;
      right: 0;
      top: 0;
      max-width: 641.182px;
      width: 100%;
    }
  }
}
.main {
  margin-top: 45px;
  &__serach {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &-sort {
      & select {
        outline: none;
        border: 1px solid gray;
        border-radius: 5px;
      }
    }
    & input {
      outline: none;
      border: none;
      border-radius: 10px;
      border: 1px solid #f3f3f3;
      max-width: 250px;
      width: 100%;
      height: 45px;
      padding: 10px;
    }
  }
  &__products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    place-items: center;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.card {
  max-width: 230px;
  height: 260px;
  width: 100%;
  border-radius: 40px;
  border: 1px solid #f3f3f3;
  background: #fff;
  display: flex;
  flex-direction: column;

  justify-content: center;
  padding: 30px;
  position: relative;
  gap: 15px;
  border-radius: 40px;
  border: 1px solid #f8f8f8;
  background: #fff;
  box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.05);
  &__img {
    margin: 0 auto;
    & img {
      margin: 0 auto;
      max-width: 133px;
      width: 100%;
      height: 112px;
    }
  }
  &__foloving {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 32px;
    height: 32px;
    outline: none;
    border: none;
    border-radius: 7px;
    border: 1px solid #f8f8f8;
    cursor: pointer;
    background: #fff;
  }
  &__text {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    max-width: 150px;
    width: 100%;
  }
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__add {
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
  }
}
.green {
  border-radius: 8px;
  background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
}
.red {
  border-radius: 8px;
  border: 1px solid #ff8585;
}

.favorite {
  margin-top: 45px;
  text-align: start;
  position: relative;
  &__null {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

    & a {
      width: 300px;
    }

    & span {
      width: 50px;
      height: 50px;
    }
  }
  &__title {
    display: flex;
    gap: 15px;
    & h2 {
      color: #000;
      font-size: 32px;
      font-weight: 700;
    }
  }
}

.purchases{
  margin-top: 45px;
}

.modal {
  background: rgba(0, 0, 0, 0.35);

  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 10;

  &__block {
    height: 100%;
    background: #fff;
    box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 385px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px 0 0 10px;
    position: relative;
    &-iner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      max-width: 350px;
      width: 100%;
      & p {
        color: #000;
        text-align: center;
        font-size: 14px;
        line-height: 24px; /* 150% */
      }
      &-btn button {
        width: 300px;
        height: 55px;
        color: #fff;
        text-align: center;
        font-size: 16px;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 18px;
        background: #9dd458;
      }
    }

    & span {
      color: #000;
      font-size: 24px;
      font-weight: 700;
    }
    &-top {
      overflow: auto;
    }
    &-card {
      margin-top: 20px;
      padding: 20px;
      border-radius: 20px;
      border: 1px solid #f3f3f3;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #fff;
      gap: 15px;
      &-img {
        & img {
          width: 70px;
          height: 70px;
        }
      }

      &-text {
        max-width: 150px;
        width: 100%;
        & p {
          color: #000;
          font-size: 14px;
        }
        & span {
          color: #000;
          font-size: 14px;
          font-weight: 700;
          padding-top: 8px;
        }
      }
      &-btn {
        & button {
          border: none;
          outline: none;
          cursor: pointer;
          background: transparent;
        }
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      gap: 15px;
      & p {
        color: #000;
        font-size: 16px;
        & span {
          color: #000;
          font-size: 16px;
          font-weight: 700;
        }
      }
      & button {
        max-width: 325px;
        width: 100%;
        height: 55px;
        color: #fff;
        text-align: center;
        font-size: 16px;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 18px;
        background: #9dd458;
      }
    }
  }
}
body.modal-open {
  overflow: hidden;
}

.modal-enter-active,
.modal-leave-active {
  transition: 0.4s ease;
}

.modal-enter-from,
.modal-leave-to {
  transition: 0.4s ease;
  transform: translateX(10%);
  opacity: 0;
}
